body {
	font: 1.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right,rgb(255,0,0) ,rgb(0,255,0));
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    margin-top:40px;
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    letter-spacing: 0.1em;
}

p {
    margin-top: 30px;
    text-transform: none;
    letter-spacing: 0.5em;
    font-weight: 200%;
}

button {
    background-color: rgba(0,0,0,.3);
    border-radius: 20px;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}